/* Reseteo de algunos estilos del navegador  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Ponemos un color de fondo a la página para ver mejor los paneles */
body {
    background-color: bisque;
}

.layout {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.barra {
    width: 52px;
    background: #2d3748;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    padding: 12px 8px;

    flex-shrink: 0;
}

.boton-panel {

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 6px;

    background: #4a5568;
    color: white;

    cursor: pointer;

    position: relative;

    transition: .25s;
}

.boton-panel:hover {
    background: #667085;
}

.boton-panel.activo {
    background: #2563eb;
}

.paneles {

    display: flex;

    flex-shrink: 0;

}

.panel-lateral {

    width: 0;

    overflow: hidden;

    background: white;

    transition: width .35s ease;

    box-shadow: 2px 0 10px rgba(0, 0, 0, .15);

}

.panel-lateral.activo {

    width: 320px;

}

.panel-lateral .contenido {

    width: 320px;

    padding: 20px;

}

main {

    flex: 1;

    padding: 40px;

    overflow: auto;

}

.boton-panel::after {

    content: attr(data-tooltip);

    position: absolute;

    left: calc(100% + 12px);
    top: 50%;

    transform: translateY(-50%);

    background: #333;
    color: white;

    padding: 8px 12px;

    border-radius: 6px;

    font-size: 14px;

    white-space: nowrap;

    opacity: 0;

    pointer-events: none;

    transition: .2s;

}

.boton-panel:hover::after {

    opacity: 1;

}

.flecha::before {

    content: "▶";

}

.boton-panel.activo .flecha::before {

    content: "◀";

}

